@charset "UTF-8";

/*###################


index css 样式


#########################*/

.img-circle{
	    width: 24px;
}


/*###################


publish css 样式


#########################*/

body{
	background-color:#efefef 
}

#main{
	background-color:white;
	margin:30px;
}
.submit{
	    margin-bottom: 15px;
	float: right;
}



