@charset "UTF-8";

.text_center{
	text-align: center;	
}
p{
    word-wrap:break-word
   /*  word-break: break-all; 或者是下面一种方法让单词强制换行*/

   
    
}

.jumbotron{
	margin: 50px;
}

.float-right{
	float: right;
}
.float-left{
	float: left;
}

/*###################


index css 样式


#########################*/

.img-circle{
	    width: 24px;
}
.media-object{
	width:38px;
}
.media-heading{
	color: skyblue;
}
/*###################


publish css 样式


#########################*/

body{
	background-color:#efefef 
}

#main{
	background-color:white;
	margin:30px;
}
.submit{
	    margin-bottom: 15px;
	float: right;
}


/*###################


question css 样式


#########################*/

.UserAvatarSize{
	width: 38px;
}

.margin_top_bottom{
	margin: 15px 0;
}

