<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Good Thymes Virtual Grocery</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<base th:href="@{/}">
<link rel="stylesheet" type="text/css" media="all"
href="css/bootstrap.min.css"  />
<link rel="stylesheet" type="text/css" href="css/public.css">
<script type="text/javascript" src="js/jquery-3.4.1.js"> </script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/public.js"></script>
</head>
<body>
<span hidden="hidden" th:text="${error}" id="error"></span>

<div th:insert="header :: nav"></div>

<div class="container-fluid" id="main">
  <div class="row">

<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
<h3><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发布</h3>
<hr>
<form method="post" action="addQuestion">
  <div class="form-group">
    <label for="title">问题标题(简单扼要):</label>
    <input  class="form-control" id="title" placeholder="问题标题" name="title" th:value="${title}">
  </div>
  <div class="form-group">
    <label for="description">问题补充(必填,请按照右侧提示):</label>
    <textarea class="form-control" rows="10" placeholder="问题补充" id="description" th:value="${description}" name="description"></textarea>
  </div>
  
  <div class="form-group">
    <label for="tag">添加标签:</label>
    <input  class="form-control" id="tag" name="tag" placeholder="输入标签,以，号隔开">
  </div>
  
  <button type="submit" class="btn btn-success submit"> 发布 </button>
  
</form>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
<br>
<br><br><br>
1.函数式编程的第二个特点就是可以返回一个函数，这样就可以实现闭包或者惰性计算：<br><br>

2.以上两个特点还仅仅是简化了代码。从代码的可维护性上讲，函数式编程最大的好处是引用透明，即函数运行的结果只依赖于输入的参数，而不依赖于外部状态，因此，我们常常说函数式编程没有副作用。

</div>
</div>
</div>
</body>
</html>