<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bdqn.firstwork.mapper.CommentMapper">

<insert id="addComment" keyProperty="id" useGeneratedKeys="true">
insert `comment`(content,like_count,gmt_created,gmt_modified,type,creatorId,parentId) values(#{content},#{likeCount},#{gmtCreated},#{gmtModified},#{type},#{creatorId},#{parentId});
</insert>

<update id="updateQuestionCommentCount">
update question set  common_count=common_count+#{count}   where id = #{parentId}
</update>

<update id="updateCommonetCommonCount">
update comment set  common_count=common_count+#{count}   where id = #{parentId}
</update>

<select id="getCommentList"  resultType="comment">
select * from comment where parentId = #{questionId} and type = #{type}
</select>
</mapper>