<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bdqn.firstwork.mapper.QuestionMapper">

<!-- 分页获取问题列表 -->
<select id="questionList"   resultType="question">
	select id,title,description,gmt_create,gmt_modified,view_count,common_count,like_count,tag,creater from question
	<where>
	<if test="creater!=null and creater!=0">
	and creater = #{creater}
	</if>
	</where>
	order by gmt_create desc
	limit #{offset},#{size}
</select>

<!-- 分页获取回复列表 -->
<select id="repliseList"   resultType="notify">
	select *  from notify
	<where>
	<if test="receiver!=null and receiver!=0">
	and receiver = #{receiver}
	</if>
	</where>
	order by gmt_create desc
	limit #{offset},#{size}
</select>

<!-- 新增一个新闻 -->
<insert id="addQuestion" keyProperty="id" useGeneratedKeys="true">
insert question(title,description,gmt_create,gmt_modified,tag,creater) values(#{title},#{description},#{gmtCreate},#{gmtModified},#{tag},#{creater});
</insert>

<!-- 查询文章发布者 -->
<select id="getUserByCreateId" parameterType="long" resultType="user">
select * from user where id = #{id}
</select>



<!-- 页面总数据 -->
<select id="getTotalNotifyCount" resultType="int">
select count(1) from notify
	<where>
	<if test="receiver!=null and receiver!=0">
	and receiver = #{receiver}
	</if>
	</where>
</select>


<!-- 页面总数据 -->
<select id="getTotalCount" resultType="int">
select count(1) from question
	<where>
	<if test="creater!=null and creater!=0">
	and creater = #{creater}
	</if>
	</where>
</select>


<!-- 根据id查询问题信息 -->
<select id="getQuestionMeg" resultMap="question_user_map" parameterType="int">
select * from question where id = #{id}
</select>

<!-- 多对一关系映射 可以转换成多个 一对一的问题 根据id延迟查询发布者 -->
<resultMap type="questionDTO" id="question_user_map">
<association property="user" column="creater" select="dtoUser">
</association>
</resultMap>

<!-- question映射表user -->
<select id="dtoUser" parameterType="int" resultType="user">
select token,gtm_created,gtm_modified,name,avatar_url from user where id = #{creater}
</select>

<update id="addViewCount" parameterType="int">
update question set  view_count=view_count+1   where id = #{id}
</update>


<update id="updateQuestion" parameterType="question">
update question set description = #{description} , title = #{title} , tag = #{tag} ,gmt_modified=#{gmtModified} where id = #{id}
</update>

<!-- 一对多映射  user-》question -->

<select id="getSameQeustion" parameterType="question" resultType="question">
SELECT id,tag,title FROM `question` where 
<if test="tag!=null">
 tag REGEXP #{tag} 
</if>
<if test='tag==null'>
 tag=''
</if>
 and id!=#{id} ORDER BY  gmt_create desc LIMIT 5 ;
</select>

<select id="getHotQuestion"  resultType="question">
select id,tag,title from `question` where DATEDIFF(SYSDATE(),FROM_UNIXTIME(gmt_create/1000))&lt;7  order by view_count desc limit 5;
</select>

<select id="getUnReadCount"  resultType="int">
select count(1) from notify  where `read` = 0 and receiver = #{id}
</select>

<select id="getQuestionById" parameterType="integer" resultType="question">
select * from question 
<foreach collection="list" open="where id in(" separator="," item="i" close=")">
	#{i}
</foreach>
</select>
<select id="getQuestionById2" resultType="question" parameterType="int">
select * from question where id = #{id}
</select>

</mapper>